<body>
  <div class="search-container">
    <input
      type="text"
      placeholder="Search for movies..."
      [(ngModel)]="searchQuery"
      class="search-bar"
      (keydown.enter)="searchMovies()"
    />
    <button (click)="searchMovies()" class="search-btn">Search</button>
  </div>

  <table class="movie-table" *ngIf="hasMovies; else noMovies">
    <thead>
      <tr>
        <th>Select</th>
        <th>Title</th>
        <th>Year</th>
        <th>Poster</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movieResponse.content">
        <td>
          <input
            type="checkbox"
            (change)="onSelectMovie(movie.imdbID, $event)"
          />
        </td>
        <td>{{ movie.Title }}</td>
        <td>{{ movie.Year }}</td>
        <td><img src="{{ movie.Poster }}" alt="{{ movie.Title }}" /></td>
        <td>
          <div class="actions-cell">
            <button
              class="show-details-btn"
              (click)="displayMovieDetails(movie)"
            >
              <svg viewBox="0 0 24 24" width="24" height="24">
                <path
                  fill="currentColor"
                  d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 13c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"
                />
              </svg>
              Show Details
            </button>
            <button class="add-btn" (click)="addMovie(movie)">
              <svg
                viewBox="0 0 24 24"
                width="24"
                height="24"
                fill="currentColor"
              >
                <path d="M19 13H12v7h-1v-7H5v-1h6V5h1v7h7v1z" />
              </svg>
              Add
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button
    *ngIf="selectedMovieIds.length > 0"
    class="add-btn"
    style="margin-top: 1rem"
    (click)="addSelectedMovies()"
  >
    <svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
      <path d="M19 13H12v7h-1v-7H5v-1h6V5h1v7h7v1z" />
    </svg>
    Add Selected Movies
  </button>

  <app-pagination
    [page]="page"
    [totalPages]="movieResponse.totalPages || 0"
    [pageLimit]="pageLimit"
    (onFirstPage)="goToFirstPage()"
    (onPreviousPage)="goToPreviousPage()"
    (onNextPage)="goToNextPage()"
    (onLastPage)="goToLastPage()"
    (onPageChange)="gotToPage($event)"
  ></app-pagination>

  <ng-template #noMovies>
    <p class="no-results">
      No movies found. Try searching with a different query.
    </p>
  </ng-template>
</body>
